body {
    background-color: ivory;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
}
.partFlex {
    width: 33%;
    padding: 10px;
}
.workGrid {
    display: grid;
}