body {
    background-color: ivory;
}
.flexContainer {
    display: flex;
    flex-direction: row;
}
.partFlex {
    width: 300px;
    margin: auto;
    text-align: center;
}
.img1 {
    grid-area: myArea;
    margin: auto;
    width: 350px;
}
.img2 {
    grid-area: myArea2;
    margin: auto;
    width: 350px;
}
.img3 {
    grid-area: myArea3;
    margin: auto;
    width: 350px;
}
.workGrid {
    display: grid;
    grid-template-areas: "myArea myArea2 myArea3";
    align-items: center;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
    text-decoration-line: underline;
    cursor: pointer;
}
@media only screen and (max-width:600px){
    .flexContainer {
        display: flex;
        flex-direction: column;
    }
    .partFlex {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .workGrid img {
        display: grid;
        grid-template-areas: "myArea myArea2 myArea3";
        grid-column: 1fr;
    }
}